                body {
                    display: flex;
                    box-sizing: border-box;
                    background: lightcoral;
                    font-family: sans-serif;
                    font-size: 12px;
                    position: relative;
                    margin: 0;
                }
                
                .center {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                }
                
                .dialog-background {
                    opacity: 0.5;
                    background: #000;
                    z-index: 1;
                }
                
                .dialog {
                    background: #fff;
                    width: 200;
                    height: 150;
                    border-radius: 3px;
                    box-shadow: 1px 1px 5px #1c1c1c;
                    z-index: 2;
                }
                
                .dialog .css-divider {
                    height: 1px;
                    width: 100%;
                    background: #ccc;
                }
                
                .dialog .title {
                    text-transform: capitalize;
                }
                
                .dialog .title,
                .dialog .content {
                    padding: 10px;
                }
                
                .add-show-button {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    background: #000;
                    border-radius: 50%;
                    border: none;
                    outline: none;
                    bottom: 0;
                    right: 0;
                    margin: 10px;
                    z-index: 1;
                    transition: 0.6s;
                    color: #fff;
                    font-size: 20px;
                }
                
                .add-show-button:hover {
                    cursor: pointer;
                    opacity: 0.8;
                    background: rgb(255, 149, 61);
                    border: 1px solid black;
                    color: #000;
                }
                
                .shows-list {
                    color: rgb(0, 0, 0);
                    background: #fff;
                    width: 15%;
                    height: auto;
                    border-radius: 3px;
                    box-shadow: 1px 1px 5px #1c1c1c;
                    z-index: 2;
                }
                
                li {
                    text-align: center;
                    border: 1px solid black;
                    margin: 6%;
                    margin-left: 2px;
                    background-color: rgb(190, 187, 187);
                }
                
                li:hover {
                    background-color: rgb(255, 149, 61);
                }
                /*                 
                input {
                    margin-left: -31;
                } */
                
                .delButton {
                    background-color: rgb(255, 0, 0);
                    position: relative;
                    bottom: 8px;
                    /* margin-right: -130%; */
                    /* margin-top: 10px; */
                }
                
                .shows-list-container {
                    display: flex;
                }